Source: ros-groovy-jsk-interactive-marker
Section: misc
Priority: extra
Maintainer: furuta <furuta@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.0), libtinyxml-dev, ros-groovy-actionlib, ros-groovy-catkin, ros-groovy-cmake-modules, ros-groovy-dynamic-reconfigure, ros-groovy-dynamic-tf-publisher, ros-groovy-eigen-conversions, ros-groovy-geometry-msgs, ros-groovy-interactive-markers, ros-groovy-jsk-footstep-msgs, ros-groovy-jsk-pcl-ros, ros-groovy-jsk-topic-tools, ros-groovy-message-filters, ros-groovy-mk, ros-groovy-rosbuild, ros-groovy-roscpp, ros-groovy-roseus, ros-groovy-roslib, ros-groovy-sensor-msgs, ros-groovy-tf, ros-groovy-tf-conversions, ros-groovy-urdf, ros-groovy-visualization-msgs
Homepage: http://ros.org/wiki/interactive_marker
Standards-Version: 3.9.2

Package: ros-groovy-jsk-interactive-marker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev, ros-groovy-actionlib, ros-groovy-dynamic-reconfigure, ros-groovy-dynamic-tf-publisher, ros-groovy-eigen-conversions, ros-groovy-geometry-msgs, ros-groovy-interactive-markers, ros-groovy-jsk-footstep-msgs, ros-groovy-jsk-pcl-ros, ros-groovy-jsk-topic-tools, ros-groovy-message-filters, ros-groovy-roscpp, ros-groovy-roseus, ros-groovy-roslib, ros-groovy-sensor-msgs, ros-groovy-tf, ros-groovy-tf-conversions, ros-groovy-urdf, ros-groovy-visualization-msgs
Description: jsk interactive markers
